nav {
    margin-top: 1%;
    float: left;
}

.button-1,
.button-2 {
    background: #BBD6B8;
    border-radius: 20%;
}

.d-flex {
    float: left;
}

.book {

    margin-left: 10%;
}

.x {
    margin-top: 10%;
    text-align: center;
}

.card {
    display: inline-block;
}

.btn {
    float: right;
}

.y {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(111, 157, 157);
    background-size: 100% 100%;
    background-position: top center;
}

.table {
    width: 95%;
    margin-left: 2%;
}