<div class="y">
    <nav>
      <div class="container">
        <div class="d-flex">
          <h2> <i class="bi bi-arrow-left-circle-fill" routerLink="/"></i></h2>
          <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
            class="btn btn-outline-dark me-2 mb-2 btn-small ps-2 w-75 ms-3">Register Your Car</button>
          <!-- <input type="search" class="form-control me-2 mb-2" name="searchBaby" placeholder="Search Baby"
            (input)="searchBaby($event)"> -->
        </div>
      </div>
    </nav>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div style="background-color: pink" class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]=" bform">
              <div class="from-group mb-2" style="background-color: rgb(236, 171, 182,0);">
  
                <div style="display: flex;">
                  <p>Car Name</p>
                  <div class="from-group mb-2" style="width: 35%;">
                    <label for="fname" class="mt-3"></label>
                    <input type="text" id="fname" class="form-control" name="fname" formControlName="fname"
                      placeholder="Enter Car Name...">
                    <span style="color: red;" *ngIf="fname && fname.invalid && fname.touched">This field is not
                      valid</span> <br>
                  </div>
                  <p>Customer Name</p>
                  <div class="from-group mb-2" style="width: 35%; margin-left: 1%">
                    <label for="lname" class="mt-3"></label>
                    <input type="text" id="lname" class="form-control" name="lname" formControlName="lname"
                      placeholder="Enter Name...">
                    <span style="color: red;" *ngIf="lname && lname.invalid && lname.touched">This field is not
                      valid</span> <br>
                  </div> 
                </div> 
  
                <div style="display: flex;">
                  <div class="from-group mb-2" style="width: 35%;">
                    <label for="time">Start Day</label>
                    <input type="date" id="startdate" class="form-control" name="date" formControlName="startdate"
                      placeholder="Start day..">
                    <span style="color: red;" *ngIf="date && date.invalid && date.touched">This field is not valid</span>
                  </div>
  
                  <div class="from-group mb-2" style="width: 35%; margin-left: 8%;">
                    <label for="time">End Day</label>
                    <input type="date" id="enddate" class="form-control" name="date" formControlName="enddate"
                      placeholder="End day..">
                    <span style="color: red;" *ngIf="date && date.invalid && date.touched">This field is not valid</span>
                    <br>
                  </div>
                </div>
  
                <div style="display: flex;">
                  <div class="from-group mb-2" style="width: 35%;">
                    <label for="mom">Price</label>
                    <input type="mom" id="mom" class="form-control" name="mom" formControlName="mom"
                      placeholder=" Enter Price">
                    <span style="color: red;" *ngIf="mom && mom.invalid && mom.touched">This field is not valid</span>
                    <br>
                  </div>
  
                  <div class="from-group mb-2" style="width: 35%; margin-left: 8%;">
                    <label for="dad">Payment Mode</label>
                    <input type="dad" id="dad" class="form-control" name="dad" formControlName="dad"
                      placeholder="Payment Mode">
                    <span style="color: red;" *ngIf="dad && dad.invalid && dad.touched">This field is not valid</span>
                    <br>
                  </div>
                </div>
  
                <div style="display: flex;">
                  <div class="from-group mb-2" style="width: 35%;">
                    <label for="contact">Contact</label>
                    <input type="contact" id="contact" class="form-control" name="contact" formControlName="contact"
                      placeholder="Contact">
                    <span style="color: red;" *ngIf="contact && contact.invalid && contact.touched">This field is not
                      valid</span> <br>
                  </div>
  
                  <div class="from-group mb-2" style="width: 35%; margin-left: 8%;">
                    <label for="contact">Gender</label><br>
                      <input type="radio" id="gender" name="gender" formControlName="gender" value="Female">
                    <label for="gender">Female</label>
                      <input type="radio" id="gender" name="gender" formControlName="gender" value="Male">
                    <label for="gender">Male</label>
                    <span style="color: red;" *ngIf="gender && gender.invalid && gender.touched">This field is not
                      valid</span> <br>
                  </div>
                </div>
  
                <div class="from-group mb-2">
                  <label for="address">Address</label>
                  <input type="address" id="address" class="form-control" name="address" formControlName="address"
                    placeholder="Address">
                  <span style="color: red;" *ngIf="address && address.invalid && address.touched">This field is not
                    valid</span> <br>
                </div>
                <button (click)="addBaby(this.bform.value)" type="button" type="button" class="btn btn-dark">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Car Name</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Start Day</th>
          <th scope="col">End Day</th>
          <th scope="col">Gender</th>
          <th scope="col">Price</th>
          <th scope="col">Payment Mode</th>
          <th scope="col">Contact</th>
          <th scope="col">Address</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bdata; let i=index">
          <td>{{i}}</td>
          <td>{{item.fname}}</td>
          <td>{{item.lname}}</td>
          <td>{{item.startdate}}</td>
          <td>{{item.enddate}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.mom}}</td>
          <td>{{item.dad}}</td>
          <td>{{item.contact}}</td>
          <td>{{item.address}}</td>
          <!-- <td><button routerLink="/bupdate/{{item.id}}" type="button"
              class="btn btn-outline-dark btn-small">Update</button></td> -->
          <td><button (click)="deleteBaby(item)" type="button" class="btn btn-dark btn-small ms-3"><i
                class="bi bi-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>