.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .card {
    background-color: #f5f5f5;
    border: 1px solid #0f0202;
    border-radius: 4px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0d0b0b;
  }
  
  .card-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-body {
    font-size: 14px;
  }
  
  .card-body h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .card-body p {
    margin: 5px 0;
  }
  
  .card-body p:first-child {
    margin-top: 10px;
  }
  
  .card-body p:last-child {
    margin-bottom: 10px;
  }
  