<nav class="navbar">
    <div class="d-flex">
      <button class="btn  btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="bi bi-person-plus-fill"></i>Users Review</button>
      <h2 style="margin-left: 500px;">Rate and Review</h2>
    </div>
    
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div  class="modal-header">
          <h5 style="color:black" class="modal-title" id="exampleModalLabel">Users Review</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <form [formGroup]="reviewform">
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Title</label>
              <input type="text" class="form-control" formControlName="title" placeholder="Enter title">
              <span class="text-danger" *ngIf="reviewform.controls['title'].dirty && reviewform.hasError('required','title')">*Title is required</span>
            </div>

            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Description</label>
              <textarea class="form-control" id="exampleInputEmail1" formControlName="description" placeholder="Enter description"></textarea>

              <span class="text-danger" *ngIf="reviewform.controls['description'].dirty && reviewform.hasError('required','description')">*Description is required</span>
            </div>
  
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Rating</label>
              
            <select class="form-control" id="rating" formControlName="rating">
            <option value="">Select</option>
             <option value="1">1 star</option>
             <option value="2">2 stars</option>
             <option value="3">3 stars</option>
             <option value="4">4 stars</option>
             <option value="5">5 stars</option>
            </select>
              
              <span class="text-danger" *ngIf="reviewform.controls['rating'].dirty && reviewform.hasError('required','rating')">*Rating is required</span>
            </div>
          </form>
        </div>
  
        <div  class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button (click)="addreview(this.reviewform.value)" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of data">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-text">{{item.description}}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                          <span *ngFor="let item of [].constructor(item.rating)">&#9733;{{item.rating}}</span>
                        </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>